/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

table,
th,
td {
  border: 1px solid black;
}
th,
td {
  text-align: left;
}
.gray {
  background-color: gray;
}
