/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.form-label-group {
  display: block;
}

.form-control {
  display: block;
  margin-top: 8px;
}
.error {
  color: red;
}
